theme: light
locale: zh-CN
layout: files
font:
  ui:
    family: LXGW WenKai Screen
    size: 16
  body:
    family: LXGW WenKai Screen
    size: 16
  code:
    family: Cascadia Code NF
    size: 16
  symbol: system
reading:
  lineHeight: comfortable
  contentWidth: standard